[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
bs4 = "*"
lxml = "*"
fonttools = "*"
pillow = "*"
fake-useragent = "*"
requests-html = "*"
flask = "*"
gunicorn = "*"
redis = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.9"
